/*  Base Styles--------------------*/
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  background-color: #fff; }

ul {
  list-style-type: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #181b1b; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #181b1b;
  font-family: 'Raleway', sans-serif; }

h1 {
  margin: 0;
  font-weight: normal; }

.bar_pie h2,
.submitDiv h2 {
  margin: 0; }

h3,
p {
  font-size: .8em;
  margin: 0 !important; }
  @media (min-width: 768px) {
    h3,
    p {
      font-size: 1.17em; } }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

header {
  background-color: #884dff; }

.name {
  font-size: 1.5em; }

.socialText,
.memText {
  color: #884dff; }
  .socialText p,
  .memText p {
    color: #181b1b;
    font-size: .8em; }

.socialMetric {
  font-size: 1.5em;
  font-weight: normal; }

.bold {
  font-weight: bold; }

.settings h3 {
  font-weight: normal;
  line-height: 2; }

button {
  font-weight: bold; }

nav a {
  display: block; }

.name {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .name {
      display: inline-block;
      text-align: left;
      position: absolute;
      left: 0px;
      margin-left: 1.5%; } }

.content {
  display: flex;
  flex-direction: row; }

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 768px) {
    .container {
      width: 100%;
      padding-top: 20px; } }
  @media (min-width: 768px) {
    .container {
      padding-bottom: 20px; } }

@media (min-width: 1024px) {
  .navContainer {
    height: 30px; } }
@media (min-width: 1px) {
  .navContainer {
    display: flex;
    flex-direction: column; } }

@media (min-width: 1px) {
  .ulContainer {
    display: flex;
    justify-content: center; } }

@media (min-width: 768px) {
  .nav {
    float: right;
    display: block;
    margin: 0 auto;
    margin-right: 1.5%;
    margin-top: 6px; } }

@media (min-width: 1px) {
  .nav li {
    float: left;
    padding: 0 10px 0 10px; } }

@media (min-width: 1px) {
  .userInfo {
    border-left: 2px solid #ebecec; } }

.picOfMe {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px; }

.mainContent {
  width: calc(100% - 40px); }
  @media (min-width: 768px) {
    .mainContent {
      width: calc(100% - 80px); } }

.dashContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #dadada;
  justify-content: center; }
  @media (min-width: 768px) {
    .dashContainer {
      justify-content: space-between; } }
  .dashContainer > div {
    padding: 0 20px; }

.searchHeader {
  display: flex;
  align-items: center;
  padding: 20px !important; }
  @media (min-width: 768px) {
    .searchHeader {
      padding: 0 20px !important; } }

.dashHeader {
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #fff;
  z-index: 9999;
  margin-bottom: -1px;
  display: none; }
  @media (min-width: 768px) {
    .dashHeader {
      display: block; } }
  .dashHeader h2 {
    font-size: 1.25em; }

#dashSearch {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #666;
  height: 30px; }
  @media (min-width: 768px) {
    #dashSearch {
      width: 350px; } }

.trafficHeader {
  padding: 0 20px; }

h1 {
  float: left; }

.trafficNav {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media (min-width: 768px) {
    .trafficNav {
      float: right;
      display: flex;
      flex-direction: row; } }
  .trafficNav li {
    padding: 10px;
    margin: 0 3px;
    border-radius: 50px;
    font-size: .5em; }
    @media (min-width: 768px) {
      .trafficNav li {
        font-size: 1.17em; } }
  .trafficNav li:hover {
    font-weight: bold;
    background: #884dff;
    border-radius: 50px; }

.selected {
  font-weight: bold;
  background: #884dff;
  border-radius: 30%; }
  .selected a {
    color: #dadada; }

.membersIcon svg {
  width: 75%; }

.lineChart {
  padding: 20px;
  border-bottom: 2px solid #dadada; }

.bar_pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  border-bottom: 2px solid #dadada; }
  @media (min-width: 1024px) {
    .bar_pie {
      flex-direction: row;
      flex: 1; } }

.barDiv,
.pieDiv {
  width: 100%; }
  @media (min-width: 1024px) {
    .barDiv,
    .pieDiv {
      width: 50%; } }

.barDiv,
.msgUser {
  padding: 20px; }
  @media (min-width: 1024px) {
    .barDiv,
    .msgUser {
      padding-right: 10px;
      border-right: 2px solid #dadada;
      padding-bottom: 0px; } }

.pieDiv,
.settings {
  padding: 20px;
  border-top: 2px solid #dadada; }
  @media (min-width: 768px) {
    .pieDiv,
    .settings {
      padding-bottom: 20px; } }
  @media (min-width: 1024px) {
    .pieDiv,
    .settings {
      padding-left: 10px;
      padding-top: 20px;
      border-top: none; } }

@media (min-width: 1024px) {
  #pieChart {
    height: 225px !important; } }

.socialDiv,
.membersDiv {
  padding: 0; }
  @media (min-width: 1024px) {
    .socialDiv,
    .membersDiv {
      padding: 0 20px; } }

.socialDiv {
  padding: 0 20px 20px 20px; }

.socialIconsUl {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media (min-width: 768px) {
    .socialIconsUl {
      flex-direction: row; } }

.socialIcons ul li svg {
  width: 30px;
  height: auto;
  display: block;
  margin: 0 auto;
  vertical-align: middle; }

.twitter,
.facebook,
.google {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.twitterText,
.facebookText,
.googleText {
  padding-left: 20px; }

.twitterContainer,
.facebookContainer,
.googleContainer {
  width: 50px;
  height: 50px;
  background-color: #884dff;
  border-radius: 50%; }

.twitterDash,
.facebookDash,
.googleDash {
  padding: 10px;
  border: 2px solid #dadada;
  border-radius: 5px;
  margin: 10px 0; }

.membersDiv {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #dadada; }
  @media (min-width: 1024px) {
    .membersDiv {
      flex-direction: row;
      border-bottom: 2px solid #dadada; } }

.newMembers,
.membersActivity {
  width: 100%;
  padding: 0 20px; }
  @media (min-width: 1024px) {
    .newMembers,
    .membersActivity {
      width: 50%; } }
  .newMembers img,
  .membersActivity img {
    width: 55px;
    height: 55px;
    border-radius: 50%; }

.newMembers {
  padding-right: 10px; }
  @media (min-width: 1024px) {
    .newMembers {
      border-right: 2px solid #dadada; } }

.membersActivity {
  border-top: 2px solid #dadada; }
  @media (min-width: 1024px) {
    .membersActivity {
      padding-left: 20px;
      border-top: none; } }

.normalEmail {
  display: none; }
  @media (min-width: 768px) {
    .normalEmail {
      display: block; } }

@media (min-width: 768px) {
  .mobileEmail {
    display: none; } }

.mem1,
.mem2,
.mem3,
.mem4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #dadada;
  padding: 10px 0;
  margin-right: 20px; }

.mem4 {
  border-bottom: none !important; }

.memText,
.memDate {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.memText {
  padding-left: 10px; }
  .memText a {
    color: #884dff; }
  .memText h3 {
    color: #181b1b; }

.memDate {
  flex-grow: 2;
  text-align: right !important; }

.memDate svg {
  align-self: flex-end; }

.submitDiv {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1024px) {
    .submitDiv {
      flex-direction: row; } }

.msgUser {
  padding-right: 20px; }
  @media (min-width: 1024px) {
    .msgUser {
      width: 50%; } }

@media (min-width: 1024px) {
  .settings {
    width: 50%; } }

.usrForm {
  display: flex;
  flex-direction: column; }

#usrSearch,
#usrMsg {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #666;
  height: 30px;
  width: 100%;
  padding: 10px 0; }

#usrMsg {
  height: 150px;
  resize: none; }

.usrSearch,
.usrMsg {
  padding-top: 20px; }

#send {
  border-radius: 5px;
  height: 40px;
  background-color: #884dff;
  color: #fff;
  width: 100%;
  border: none; }

.sendBtn,
.notifications,
.public,
.timezone {
  padding: 20px 0; }

.saveCancel {
  padding-top: 24px; }

.notifications,
.public {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle; }
  @media (min-width: 1024px) {
    .notifications,
    .public {
      width: 75%; } }

.timezone select {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  background: url(../img/down-arrow.png) no-repeat 97% #ddd; }

.saveCancel {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media (min-width: 1024px) {
    .saveCancel {
      justify-content: space-between; } }

#save,
#cancel {
  border-radius: 5px;
  height: 40px;
  width: 100px;
  border: none; }
  @media (min-width: 768px) {
    #save,
    #cancel {
      width: 200px; } }

#save {
  background-color: #884dff;
  color: #dadada; }

#cancel {
  background-color: #dadada;
  color: #181b1b; }

#Layer_1 {
  width: 30px; }

.SVGnav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3e474f;
  min-width: 40px;
  max-width: 40px; }
  @media (min-width: 768px) {
    .SVGnav {
      min-width: 80px;
      max-width: 80px; } }

.SVGnav > div {
  padding: 10px;
  margin: 5px 0; }

.dashboardIcon:hover #dashNav2,
.dashboardIcon:hover #dashNav3,
.dashboardIcon:hover #dashNav4 {
  fill: #fff; }

.dashboardIcon:hover {
  border-left: 2px solid #fff;
  border-radius: 10px; }
  @media (min-width: 768px) {
    .dashboardIcon:hover {
      border-left: 5px solid #fff;
      border-radius: 10px; } }

.dashboardIcon1 {
  border-left: 2px solid #fff;
  border-radius: 10px; }
  @media (min-width: 768px) {
    .dashboardIcon1 {
      border-left: 5px solid #fff;
      border-radius: 10px; } }

#dashNav1 {
  fill: #fff; }

#dashNav2,
#dashNav3,
#dashNav4 {
  fill: #b8c0c7; }

#Layer_5 {
  position: relative;
  top: 25%;
  left: 20%;
  fill: #fff; }

#Layer_2 {
  position: relative;
  left: 8%;
  top: 9%;
  fill: #fff; }

#Layer_3 {
  position: relative;
  top: 25%;
  left: 23%;
  fill: #fff; }

#iconStatus {
  width: 10px;
  height: 10px;
  background: #33cc33;
  border-radius: 5px;
  position: relative;
  padding: 0 !important;
  margin: 0 10px 0 -15px; }

#alert {
  font-size: .75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
  height: 50px;
  align-items: center;
  background: #884dff;
  border-radius: 5px; }
  #alert span:nth-child(1) {
    margin-left: 10px;
    font-weight: bold; }
  #alert a {
    margin-right: 10px; }
  @media (min-width: 768px) {
    #alert {
      font-size: 1em; } }

.closeSVG {
  width: 20px;
  height: auto;
  fill: white;
  margin-right: 10px; }

#icons {
  fill: #181b1b; }

.onoffswitch {
  position: relative;
  width: 114px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #DADADA;
  border-radius: 50px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 35px;
  padding: 0;
  line-height: 40px;
  font-size: 17px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 18px;
  background-color: #884DFF;
  color: #DADADA; }

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 18px;
  background-color: #DADADA;
  color: #884DFF;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 24px;
  margin: 8px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 70px;
  border: 2px solid #DADADA;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

/*# sourceMappingURL=main.css.map */
