nav a {
  display: block;
}

.name {
  margin: 0 auto;
  @include tablet {
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 0px;
    margin-left: 1.5%;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  text-align: center;
  @include tablet {
    width: 100%;
  }
}

.navContainer {
  @include tablet {
    height: 30px;
  }
}

.nav {
  @include tablet {
    float: right;
    display: block;
    margin: 0 auto;
    margin-right: 1.5%;
    margin-top: 6px;
  }
}

.nav li {
  @include tablet {
    float: left;
    padding: 0 10px 0 10px;
  }
}

.userInfo {
  @include tablet {
    border-left: 2px solid rgb(235, 236, 236);
  }
}
