nav a {
  display: block;
}

.name {
  margin: 0 auto;
  @include tablet {
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 0px;
    margin-left: 1.5%;
  }
}

.content {
  display: flex;
  flex-direction: row;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  @include tablet {
    width: 100%;
    padding-top: 20px;
  }
  @include tablet {
    padding-bottom: 20px;
  }
}

.navContainer {
  @include desktop {
    height: 30px;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.ulContainer {
  @include mobile {
    display: flex;
    justify-content: center;
  }
}

.nav {
  @include tablet {
    float: right;
    display: block;
    margin: 0 auto;
    margin-right: 1.5%;
    margin-top: 6px;
  }
}

.nav li {
  @include mobile {
    float: left;
    padding: 0 10px 0 10px;
  }
}

.userInfo {
  @include mobile {
    border-left: 2px solid rgb(235, 236, 236);
  }
}


.picOfMe {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.mainContent {
  width: calc(100% - 40px);
}

.dashContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid $border-top;
  > div {
    padding: 0 20px 0 20px;
  }
}

.searchHeader {
  display: flex;
  align-items: center;
}

.dashHeader {
  border-right: 1px solid $border-top;
  border-bottom: 1px solid $primaryBg;
  z-index: 9999;
  margin-bottom: -1px;
}

#dashSearch {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #666;
  height: 30px;
  @include tablet {
    width: 350px;
  }
}

.trafficHeader {
  padding: 0 20px;
} h1 {
 float: left;
}

.trafficNav {
  float: right;
  display: flex;
  flex-direction: row;
  li {
  padding: 10px;
  margin: 0 3px;
  border: 2px solid $thirdBg;
  border-radius: 30%;
  }
  li:hover {
    font-weight: bold;
    background: $secondaryBg;
    border-radius: 30%;
  }
}

.selected {
  font-weight: bold;
  background: $secondaryBg;
  border-radius: 30%;
}

.membersIcon svg {
  width: 75%;
}

.lineChart {
  padding: 20px;
  border-bottom: 2px solid $border-top;
}

.bar_pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  @include desktop {
    flex-direction: row;
    flex: 1;
  }
}

.barDiv,
.pieDiv {
  width: 100%;
  @include desktop {
    width: 50%;
  }
}

.barDiv {
  @include desktop {
    padding-right: 10px;
    border-right: 2px solid $border-top;
  }
}

.pieDiv {
  @include desktop {
    padding-left: 10px;
  }
}

#pieChart {
  @include desktop {
  height: 225px !important;
  }
}
