#Layer_1 {
  width: 30px;
}

.SVGnav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $SVGnav;
  min-width: 40px;
  max-width: 40px;
  @include tablet {
    min-width: 80px;
    max-width: 80px;
  }
}

.SVGnav > div {
  padding: 10px;
  margin: 5px 0;
}

.dashboardIcon:hover #dashNav {
  fill: #fff;
}

.dashboardIcon:hover {
  @include tablet {
    border-left: 5px solid #fff;
    border-radius: 10px;
  }
  border-left: 2px solid #fff;
  border-radius:10px;
}

.dashboardIcon1 {
  @include tablet {
    border-left: 5px solid #fff;
    border-radius: 10px;
  }
  border-left: 2px solid #fff;
  border-radius:10px;
}

#dashNav1 {
  fill: #fff;
}

#dashNav {
  fill: #b8c0c7;
}
